TELEGRAM_TOKEN=
TELEGRAM_ALLOWED_USERS=

QB_HOST=localhost
QB_PORT=8080
QB_DOWNLOAD_DIR=/movies
QB_TV_DIR=/tv-series

JELLYFIN_URL=http://localhost:8096
JELLYFIN_PUBLIC_URL=
JELLYFIN_API_KEY=
JELLYFIN_MEDIA_BASE=/home/youruser/jellyfin-media
CLOUDFLARED_CONFIG_DIR=/home/youruser/.cloudflared

TMDB_API_KEY=

OPENSUBTITLES_USERNAME=
OPENSUBTITLES_PASSWORD=
OPENSUBTITLES_API_KEY=
